[Unit]
Description=A simple blog that runs on Go.

[Service]
WorkingDirectory=/home/ec2-user/c2c
ExecStart=/home/ec2-user/c2c/p2p
Restart=always

[Install]
WantedBy=multi-user.target